* {
    box-sizing: border-box;

    --dark-background-color: #1F2937; /* hero; footer */
    --main-text-color: #F9FAF8; /* hero main text ("this website is awesome"); hero logo text */
    --secondary-text-color: #E5E7EB; /* hero secondary text; header link text */
    --accent-text-color: var(--dark-background-color,#1F2937); /* information header text; quote text */
    --cta-color: #3882F6; /* button color; call to action background color */
    --light-background-color: var(--secondary-text-color,#E5E7EB); /* quote section background color */
}

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 1em;
    background-color: var(--dark-background-color, #1F2937);
}

header #logo {
    font-size: 24px;
    color: var(--main-text-color, #F9FAF8);
    margin: 0;
}

header img {
    width: 30px;
    height: 30px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 2em;
    padding: 0;
    margin: 0;
}

header ul a {
    color: var(--secondary-text-color, #E5E7EB);
    text-decoration: none;
    font-size: 18px;
}

.hero {
    padding: 5em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: var(--dark-background-color, #1F2937);
}

.hero-text {
    max-width: 350px;
    flex-shrink: 1;
}

.hero-text h1 {
    font-size: 48px;
    color: var(--main-text-color, #F9FAF8);
    font-weight: 900;
}

.hero-text p {
    font-size: 18px;
    color: var(--secondary-text-color, #E5E7EB);
}

.hero-img {
    min-width: 620px;
    max-width: 700px;
    min-height: 150px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/57/1-2-crocodile-free-png-image.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    /* padding: 0 2em; */
    /* For small viewport widths, the image sticks directly to the edge. */
}

button {
    background-color: var(--cta-color, #3882F6);
    color: var(--main-text-color, #F9FAF8);
    padding: 8px 10px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
}

img {
    max-inline-size: 100%;
    display: block;
    /* object-fit: contain; */
    /* object-fit: cover; */
    /* object-attachment: fixed; */
    /* width: 900px; */
}

 main {
    flex-grow: 1;
 }

main > article {
    padding: 100px;
}

main #information h2 {
    font-size: 36px;
    font-weight: 900;
    color: var(--accent-text-color,#1F2937);
    text-align: center;
}

main #information div {
    display: flex;
    justify-content: center;
    gap: 2em;
}

main #information div figure {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 1em;
    color: var(--accent-text-color,#1F2937);
}

main #information div img {
    border-radius: 10px;
    width: 300px;
    height: auto;
}

main #quote {
    background-color: var(--light-background-color,#E5E7EB);
}

main #quote blockquote {
    font-size: 36px;
    font-weight: 300;
    color: var(--accent-text-color,#1F2937);
    margin: 36px 0;
}

main #quote q {
    display: block;
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
}

main #cta > div {
    background-color: var(--cta-color, #3882F6);
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main #cta h3 {
    color: var(--main-text-color, #F9FAF8);
}

main #cta p {
    color: var(--secondary-text-color, #E5E7EB);
}

main #cta button {
    border: 1px solid var(--main-text-color, #F9FAF8);

}

footer {
    background-color: var(--dark-background-color, #1F2937);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color, #E5E7EB);
 }